<div id="<%= dom_id monster %>">
  <p>
    <strong>Name:</strong>
    <%= monster.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= monster.level %>
  </p>

  <p>
    <strong>Habitat:</strong>
    <%= monster.habitat %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= monster.season %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= monster.materials %>
  </p>

  <p>
    <strong>Dragonica:</strong>
    <%= monster.dragonica %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= monster.hp %>
  </p>

  <p>
    <strong>Mp:</strong>
    <%= monster.mp %>
  </p>

  <p>
    <strong>Initiative:</strong>
    <%= monster.initiative %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= monster.condition %>
  </p>

  <p>
    <strong>Str:</strong>
    <%= monster.str %>
  </p>

  <p>
    <strong>Dex:</strong>
    <%= monster.dex %>
  </p>

  <p>
    <strong>Int:</strong>
    <%= monster.int %>
  </p>

  <p>
    <strong>Spi:</strong>
    <%= monster.spi %>
  </p>

  <p>
    <strong>Accuracy:</strong>
    <%= monster.accuracy %>
  </p>

  <p>
    <strong>Damage:</strong>
    <%= monster.damage %>
  </p>

  <p>
    <strong>Armor:</strong>
    <%= monster.armor %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= monster.description %>
  </p>

  <p>
    <strong>Specialability:</strong>
    <%= monster.specialability %>
  </p>

</div>
